.ProseMirror {
  .tableWrapper {
    @apply my-12;
  }

  table {
    @apply border-collapse border-text-100 rounded box-border w-full;

    tr:first-child {
      td:first-child {
        @apply rounded-tl; // Top-left corner for first row
      }
      td:last-child {
        @apply rounded-tr; // Top-right corner for first row
      }
    }

    tr:last-child {
      td:first-child {
        @apply rounded-bl; // Bottom-left corner for last row
      }
      td:last-child {
        @apply rounded-br; // Bottom-right corner for last row
      }
    }

    td,
    th {
      @apply border border-text-100 min-w-[100px] p-2 relative text-left align-top;

      &:first-of-type:not(a) {
        @apply mt-0;
      }

      p {
        @apply m-0;

        & + p {
          @apply mt-3;
        }
      }
    }

    th {
      @apply font-bold;
    }

    .column-resize-handle {
      @apply -bottom-[2px] flex pointer-events-none absolute -right-1 top-0 w-2;

      &::before {
        @apply bg-text-200 h-full w-[1px] ml-2;
        content: "";
      }
    }

    .selectedCell {
      @apply bg-primary-100 border-primary-200 border-double;
    }

    .grip-column,
    .grip-row {
      @apply items-center bg-text-100 cursor-pointer flex justify-center absolute z-10;
    }

    .grip-column {
      @apply w-[calc(100%+1px)] border-l border-text-100 h-3 left-0 -ml-[1px] -top-3;

      &:hover,
      &.selected {
        &::before {
          content: "";
          @apply w-2.5;
        }
      }

      &:hover {
        @apply bg-text-200;

        &::before {
          @apply border-b-2 border-dotted border-text-600;
        }
      }

      &.first {
        @apply border-transparent rounded-tl-sm;
      }

      &.last {
        @apply rounded-tr-sm;
      }

      &.selected {
        @apply bg-primary-500 border-primary-200 shadow-sm;

        &::before {
          @apply border-b-2 border-dotted border-surface;
        }
      }
    }

    .grip-row {
      @apply h-[calc(100%+1px)] border-t border-text-100 -left-3 w-3 top-0 -mt-[1px];
   
      &:hover,
      &.selected {
        &::before {
          @apply h-2.5;
          content: "";
        }
      }
      &:hover {
        @apply bg-text-200;

        &::before {
          @apply border-l-2 border-dotted border-text-600;
          @apply dark:border-white/60;
        }
      }

      &.first {
        @apply border-transparent rounded-tl-sm;
      }

      &.last {
        @apply rounded-bl-sm;
      }

      &.selected {
        @apply bg-primary-500 border-primary-200 shadow-sm;

        &::before {
          @apply border-l-2 border-dotted border-surface;
        }
      }
    }
  }
}
