:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;

  --novel-highlight-default: #ffffff;
  --novel-highlight-purple: #f6f3f8;
  --novel-highlight-red: #fdebeb;
  --novel-highlight-yellow: #fbf4a2;
  --novel-highlight-blue: #c1ecf9;
  --novel-highlight-green: #acf79f;
  --novel-highlight-orange: #faebdd;
  --novel-highlight-pink: #faf1f5;
  --novel-highlight-gray: #f1f1ef;
}

[data-mode="dark"] {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;

  --novel-highlight-default: #000000;
  --novel-highlight-purple: #3f2c4b;
  --novel-highlight-red: #5c1a1a;
  --novel-highlight-yellow: #5c4b1a;
  --novel-highlight-blue: #1a3d5c;
  --novel-highlight-green: #1a5c20;
  --novel-highlight-orange: #5c3a1a;
  --novel-highlight-pink: #5c1a3a;
  --novel-highlight-gray: #3a3a3a;
}

.page-content {
  .ProseMirror {
    @apply p-4 md:px-80 pb-40 md:pb-60;

    &.editor-content {
      @apply min-h-[calc(100vh-10vh)];
    }
  }
}

.thread-wrapper {
  .ProseMirror {
    @apply p-4 md:px-80 pb-20 md:pb-40;

    &.editor-content {
      @apply min-h-[calc(100vh-24vh)] md:min-h-[calc(100vh-13vh)];
    }
  }
}

.description-editor {
  .ProseMirror {
    @apply min-h-[40vh] px-4 md:px-24;
  }
}

.comment-editor {
  .ProseMirror {
    @apply max-h-[200px] overflow-y-auto;
  }
}

.reply-editor {
  .ProseMirror {
    @apply max-h-[500px] overflow-y-auto px-4 md:px-3 py-2.5 md:py-2;
  }
}

.ProseMirror {
  @apply caret-black dark:caret-white outline-0 z-0;

  .selection {
    @apply inline-block;
  }

  .selection,
  *::selection {
    @apply bg-black/10 dark:bg-white/20 inline-block;
  }

  & > .react-renderer {
    @apply my-12 first:mt-0 last:mb-0;
  }

  &.resize-cursor {
    @apply cursor-col-resize;
  }

  .ProseMirror-gapcursor {
    @apply relative w-full max-w-2xl mx-auto;

    &:after {
      @apply border-t-black/40 dark:border-t-white/40 w-full -top-[1.5em] max-w-2xl mx-auto left-0 right-0;
    }
  }
}

[data-theme="slash-command"] {
  width: 1000vw;
}

@import "./editor.scss";
@import "./partials/animations.scss";
@import "./partials/blocks.scss";
@import "./partials/code.scss";
@import "./partials/collab.scss";
@import "./partials/lists.scss";
@import "./partials/placeholder.scss";
@import "./partials/table.scss";
@import "./partials/typography.scss";
