@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes.css";

@layer base {
  
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-sm text-text-900;

    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', 'Arial', sans-serif;
  }
  .wrapper {
    @apply w-11/12 max-w-7xl mx-auto;
  }
  .sidebar_project_item:hover .sidebar_project_item_options {
    @apply opacity-100;
  }

  #scrollable,
  .onboard_scrollbar {
    scrollbar-width: 0;
    -ms-overflow-style: none;
  }
  #scrollable::-webkit-scrollbar,
  .onboard_scrollbar::-webkit-scrollbar {
    display: none;
  }

  [contenteditable="true"]:empty:before {
    content: attr(aria-placeholder);
  }

  [contenteditable="true"]:empty:before {
    @apply text-text-400 block pointer-events-none;
  }

  /* Define the animation for the checked state */
  @keyframes checkAnimation {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .check-animation {
    animation: checkAnimation 0.3s ease-out;
  }

  .vertical-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }

  .hero_button:hover {
    transform: scale(1.05);
    background: linear-gradient(
      to right,
      var(--color-primary-400),
      var(--color-primary-500)
    );
  }
}
