@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes.scss";

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-sm text-text-900;

    -webkit-tap-highlight-color: transparent;
    font-family: "Poppins", "Arial", sans-serif;
  }
  .wrapper {
    @apply w-11/12 max-w-7xl mx-auto;
  }
  .sidebar_project_item:hover .sidebar_project_item_options {
    @apply opacity-100;
  }

  .selection,
  *::selection {
    @apply bg-black/10 dark:bg-white/20 inline-block;
  }

  ::placeholder {
    @apply text-text-400 select-none;
  }

  #scrollable,
  .onboard_scrollbar {
    scrollbar-width: 0;
    -ms-overflow-style: none;
  }
  #scrollable::-webkit-scrollbar,
  .onboard_scrollbar::-webkit-scrollbar {
    display: none;
  }

  [contenteditable="true"]:empty:before {
    content: attr(aria-placeholder);
  }

  [contenteditable="true"]:empty:before {
    @apply text-text-400 block pointer-events-none;
  }

  /* Define the animation for the checked state */
  @keyframes checkAnimation {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .check-animation {
    animation: checkAnimation 0.3s ease-out;
  }

  .react-loading-skeleton {
    --base-color: var(--skeleton-base-color) !important;
    --highlight-color: var(--skeleton-highlight-color) !important;
  }

  .vertical-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }

  .hero_button:hover {
    transform: scale(1.05);
    background: linear-gradient(
      to right,
      var(--color-primary-400),
      var(--color-primary-500)
    );
  }

  /* Quill Editor */
  .custom-quill-editor {
    font-family: "Poppins", sans-serif;
  }
  .custom-quill-editor .ql-toolbar {
    @apply rounded-t-2xl bg-transparent border-b border-text-100;
  }

  .custom-quill-editor .ql-toolbar button {
    @apply rounded-lg hover:bg-text-100 transition flex items-center justify-center aspect-square;
    display: inline-flex !important;
  }

  .custom-quill-editor .ql-toolbar button:hover svg,
  .ql-toolbar button.ql-active svg {
    color: var(--color-primary-500) !important;
  }

  .custom-quill-editor .ql-container {
    @apply rounded-b-2xl overflow-hidden;
  }

  .custom-quill-editor .ql-tooltip {
    top: 1rem !important;
    left: 1rem !important;
  }

  .ql-editor.ql-blank::before {
    @apply text-text-400;
  }

  .custom-quill-editor .ql-editor {
    @apply p-2 px-4 min-h-48 overflow-y-auto max-h-96 cursor-text bg-background;
  }

  .custom-quill-editor .ql-editor p {
    @apply mb-4;
  }

  .custom-quill-editor .ql-editor h1,
  .custom-quill-editor .ql-editor h2,
  .custom-quill-editor .ql-editor h3 {
    @apply mb-2;
  }

  .custom-quill-editor .ql-editor h1 {
    @apply text-2xl font-semibold;
  }

  .custom-quill-editor .ql-editor h2 {
    @apply text-xl font-semibold;
  }

  .custom-quill-editor .ql-editor h3 {
    @apply text-lg font-semibold;
  }

  .custom-quill-editor .ql-editor blockquote {
    @apply border-l-2 border-text-100 pl-4 italic text-text-600;
  }

  .custom-quill-editor .ql-editor ul,
  .custom-quill-editor .ql-editor ol {
    @apply list-inside list-disc;
  }

  .custom-quill-editor .ql-editor li {
    @apply mb-2;
  }

  .custom-quill-editor .ql-editor code {
    @apply bg-text-100 text-text-700 px-1 py-0.5 rounded-lg;
  }

  .custom-quill-editor .ql-editor pre {
    @apply bg-text-100 text-text-700 p-4 rounded-lg;
  }

  .custom-quill-editor .ql-editor pre code {
    @apply bg-transparent;
  }

  .custom-quill-editor .ql-editor img {
    @apply max-w-full h-auto;
  }

  .custom-quill-editor .ql-editor table {
    @apply w-full border border-text-100;
  }

  .custom-quill-editor .ql-editor td,
  .custom-quill-editor .ql-editor th {
    @apply border border-text-100 p-2;
  }

  .custom-quill-editor .ql-editor th {
    @apply bg-text-100;
  }

  .custom-quill-editor .ql-editor td {
    @apply bg-text-100;
  }
}
